@font-face {
  font-family: 'BrownStd';
  src: url('../fonts/BrownStd-LightItalic.eot');
  src: url('../fonts/BrownStd-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-LightItalic.woff') format('woff'), url('../fonts/BrownStd-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd';
  src: url('../fonts/BrownStd-Bold.eot');
  src: url('../fonts/BrownStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-Bold.woff') format('woff'), url('../fonts/BrownStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BrownStd Alternate';
  src: url('../fonts/BrownStd-BoldAlt.eot');
  src: url('../fonts/BrownStd-BoldAlt.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-BoldAlt.woff') format('woff'), url('../fonts/BrownStd-BoldAlt.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BrownStd';
  src: url('../fonts/BrownStd-Light.eot');
  src: url('../fonts/BrownStd-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-Light.woff') format('woff'), url('../fonts/BrownStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BrownStd Alternate';
  src: url('../fonts/BrownStd-RegularAlt.eot');
  src: url('../fonts/BrownStd-RegularAlt.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-RegularAlt.woff') format('woff'), url('../fonts/BrownStd-RegularAlt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownStd Reclining Alternate';
  src: url('../fonts/BrownStd-ReclinRegularAlt.eot');
  src: url('../fonts/BrownStd-ReclinRegularAlt.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-ReclinRegularAlt.woff') format('woff'), url('../fonts/BrownStd-ReclinRegularAlt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd Light Reclining';
  src: url('../fonts/BrownStd-ReclinLight.eot');
  src: url('../fonts/BrownStd-ReclinLight.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-ReclinLight.woff') format('woff'), url('../fonts/BrownStd-ReclinLight.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd';
  src: url('../fonts/BrownStd-BoldItalic.eot');
  src: url('../fonts/BrownStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-BoldItalic.woff') format('woff'), url('../fonts/BrownStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd Reclining';
  src: url('../fonts/BrownStd-ReclinRegular.eot');
  src: url('../fonts/BrownStd-ReclinRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-ReclinRegular.woff') format('woff'), url('../fonts/BrownStd-ReclinRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd';
  src: url('../fonts/BrownStd-Regular.eot');
  src: url('../fonts/BrownStd-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-Regular.woff') format('woff'), url('../fonts/BrownStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownStd Reclining Alternate';
  src: url('../fonts/BrownStd-ReclinBoldAlt.eot');
  src: url('../fonts/BrownStd-ReclinBoldAlt.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-ReclinBoldAlt.woff') format('woff'), url('../fonts/BrownStd-ReclinBoldAlt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd';
  src: url('../fonts/BrownStd-Italic.eot');
  src: url('../fonts/BrownStd-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-Italic.woff') format('woff'), url('../fonts/BrownStd-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd Alternate';
  src: url('../fonts/BrownStd-ItalicAlt.eot');
  src: url('../fonts/BrownStd-ItalicAlt.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-ItalicAlt.woff') format('woff'), url('../fonts/BrownStd-ItalicAlt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd Alternate';
  src: url('../fonts/BrownStd-BoldItalicAlt.eot');
  src: url('../fonts/BrownStd-BoldItalicAlt.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-BoldItalicAlt.woff') format('woff'), url('../fonts/BrownStd-BoldItalicAlt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'BrownStd Reclining';
  src: url('../fonts/BrownStd-ReclinBold.eot');
  src: url('../fonts/BrownStd-ReclinBold.eot?#iefix') format('embedded-opentype'), url('../fonts/BrownStd-ReclinBold.woff') format('woff'), url('../fonts/BrownStd-ReclinBold.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}